* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #383636;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
    text-align: center;
}

.password_container {
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #b8aa96;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.password_container h3 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 22px;
    color: #131213;
    letter-spacing: 1px;
}

.input_group,
.checkbox_group,
.generatedPassword {
    margin-bottom: 20px;
    margin-top: 10px;
}

.checkbox_group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.checkbox_group input {
    margin-right: 10px;
}

.input_group label,
.checkbox_group label {
    font-size: 14px;
    color: #110f0f;
    margin-bottom: 5px;
}

.input_group label {
    margin-bottom: 5px;
}

.input_group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1b789a;
    outline: none;
    transition: all 0.3s ease;
}

.input_group input:focus {
    border-color: #ab47bc;
    box-shadow: 0 0 5px rgba(106, 27, 154, 0.5);
}

.gen_btn {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 12px;
    background-color: #51739c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.gen_btn:hover {
    background-color: #345a70;
}

.generatedPassword {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.generatedPassword input {
    width: 80%;
    border-radius: 4px;
    background-color: #e0f7fa;
    padding: 10px;
    border: 1px solid #1a678b;
    outline: none;
    flex: 1;
}

.copy_btn {
    width: 50px;
    height: 40px;
    border-radius: 4px;
    background-color: #335211;
    color: white;
    font-size: 14px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.copy_btn:hover {
    background-color: #7cb342;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .password_container {
        max-width: 90%;
        padding: 15px;
    }

    .generatedPassword input {
        width: 75%;
    }

    .copy_btn {
        width: 60px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .password_container {
        padding: 10px;
    }

    .gen_btn {
        padding: 10px;
        font-size: 14px;
    }

    .generatedPassword input {
        width: 70%;
        padding: 8px;
    }

    .copy_btn {
        width: 45px;
        height: 35px;
    }
}